@using System.Web.Optimization
@model Dust.Platform.Web.Models.Device.DeviceCurrentViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>设备实时数据 - 昆山市扬尘在线监控平台</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding: 0">
    <div style="margin: auto;">
        @if (Model == null)
        {
            <h2>没有找到相关设备信息</h2>
        }
        else
        {
            foreach (var info in Model.DeviceCurrentInfos)
            {
                <div class="panel panel-default" style="width: 320px; float: left;">
                    <div class="panel-heading">
                        <h3 align="center">@info.DeviceName</h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            <h5 align="center">15分钟均值</h5>
                        </div>
                        <div>
                            <label class="lbl80">数据时间：</label>
                            <label>@(info.Fifteen?.AverageDateTime.ToString("yyyy-MM-dd HH:mm:ss") ?? "-")</label>
                        </div>
                        <div>
                            <label class="lbl80">TSP：</label>
                            <label>@(info.Fifteen?.ParticulateMatter.ToString("F2") ?? "-") mg/m³</label>
                        </div>
                        <div>
                            <label class="lbl80">PM2.5：</label>
                            <label>@(info.Fifteen?.Pm25.ToString("F2") ?? "-") mg/m³</label>
                        </div>
                        <div>
                            <label class="lbl80">PM10：</label>
                            <label>@(info.Fifteen?.Pm100.ToString("F2") ?? "-") mg/m³</label>
                        </div>
                        <div>
                            <label class="lbl80">噪音：</label>
                            <label>@(info.Fifteen?.Noise.ToString("F2") ?? "-") dB</label>
                        </div>
                        <div>
                            <label class="lbl80">风速：</label>
                            <label>@(info.Fifteen?.WindSpeed.ToString("F2") ?? "-") m/s</label>
                        </div>
                        <div>
                            <label class="lbl80">温度：</label>
                            <label>@(info.Fifteen?.Temperature.ToString("F2") ?? "-") ℃</label>
                        </div>
                        <div>
                            <label class="lbl80">湿度：</label>
                            <label>@(info.Fifteen?.Humidity.ToString("F2") ?? "-") %</label>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div>
                            <h5 align="center">日均值</h5>
                        </div>
                        <div>
                            <label class="lbl80">数据时间：</label>
                            <label>@(info.Day?.AverageDateTime.ToString("yyyy-MM-dd HH:mm:ss") ?? "-")</label>
                        </div>
                        <div>
                            <label class="lbl80">TSP：</label>
                            <label>@(info.Day?.ParticulateMatter.ToString("F2") ?? "-") mg/m³</label>
                        </div>
                        <div>
                            <label class="lbl80">PM2.5：</label>
                            <label>@(info.Day?.Pm25.ToString("F2") ?? "-") mg/m³</label>
                        </div>
                        <div>
                            <label class="lbl80">PM10：</label>
                            <label>@(info.Day?.Pm100.ToString("F2") ?? "-") mg/m³</label>
                        </div>
                        <div>
                            <label class="lbl80">噪音：</label>
                            <label>@(info.Day?.Noise.ToString("F2") ?? "-") dB</label>
                        </div>
                        <div>
                            <label class="lbl80">风速：</label>
                            <label>@(info.Day?.WindSpeed.ToString("F2") ?? "-") m/s</label>
                        </div>
                        <div>
                            <label class="lbl80">温度：</label>
                            <label>@(info.Day?.Temperature.ToString("F2") ?? "-") ℃</label>
                        </div>
                        <div>
                            <label class="lbl80">湿度：</label>
                            <label>@(info.Day?.Humidity.ToString("F2") ?? "-") %</label>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</body>
</html>
