@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@model Dust.Platform.Web.Models.Account.UserPasswordModel
@{
    Layout = null;
}

<div id="userPassword">
    @using (Ajax.BeginForm("UserPassword", "Setting", Model.UserId, new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "userPassword"
    }, new { @class = "form-group" }))
    {
        @Html.HiddenFor(m => m.UserId)
        <table class="table table-bordered table-hover table-striped">
            <tbody>
            <tr>
                <td>
                    @Html.LabelFor(m => m.UserName)
                </td>
                <td>
                    @Html.HiddenFor(m => m.UserName)
                    @Html.DisplayFor(m => m.UserName, new {@class = "form-control"})
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.CurrentPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.CurrentPassword, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.CurrentPassword)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Password)
                </td>
                <td>
                    @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Password)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.ConfirmPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.ValidationSummary()
                </td>
            </tr>
            <tr>
                <td colspan="2" style="direction: rtl;">
                    <input type="submit" value="确认" class="btn btn-success"/>
                </td>
            </tr>
            </tbody>
        </table>

    }
</div>