@using Dust.Platform.Web.Models.Statistics
@model HistoryQueryPost
@{
    Layout = null;
}

<div id="@Model.FormId" style="height: 100%;">
    <div class="chartContainer" style="height: 33%; min-height: 33%; margin-bottom: 0.5%;">
        @using (Ajax.BeginForm("HistoryQuery", new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = Model.FormId
        }))
        {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <select class="form-control dataSelect" style="display: inline-block; height: 24px; padding: 0; width: 150px; font-size: 14px;">
                        <option value="0">粉尘(mg/m³)</option>
                        <option value="1">PM2.5(mg/m³)</option>
                        <option value="2">PM10(mg/m³)</option>
                        <option value="3">噪音(dB)</option>
                        <option value="4">温度(℃)</option>
                        <option value="5">湿度(%)</option>
                        <option value="6">风速(m/s)</option>
                    </select>
                    <input type="text" class="form-control" id="@Model.StartDateId" style="width: 200px; display: inline-block; height: 24px;" value="@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd HH:mm:ss")" />
                    <input type="text" class="form-control" id="@Model.EndDateId" style="width: 200px; display: inline-block; height: 24px;" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" />
                    <button type="button" class="query-button" style="border: 0; background: transparent;">
                        <span class="glyphicon glyphicon-search" style="display: inline-block; cursor: pointer; width: 20px;"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <div id="@Model.ChartId"></div>
                </div>
            </div>
        }
    </div>
    <div style="height: 66%; min-height: 66%;">
        <div class="panel panel-info">
            <div class="panel-heading">
                @Model.TargetName
            </div>
            <div class="panel-body">
                @{ var table = Html.BootstrapTable(null, TablePaginationOption.server, new
                    {
                        id = Model.TableId,
                        data_page_size = 50
                    });
                    var builder = table.Column("粉尘(mg/m³)", "ParticulateMatter")
                                               .Column("PM2.5(mg/m³)", "Pm25")
                                               .Column("PM10(mg/m³)", "Pm100")
                                               .Column("噪音(dB)", "Noise")
                                               .Column("温度(℃)", "Temperature")
                                               .Column("湿度(%)", "Humidity")
                                               .Column("监测时间", "AverageDateTime");
                }
                @(builder)
            </div>
        </div>
    </div>
</div>