@using Dust.Platform.Web.Models.Home
@using Newtonsoft.Json
@model IndexViewModel
@{
    ViewBag.Title = "首页";
}

<div style="position: relative; height: 100%;">
    <div class="col-lg-4" style="height: 100%;">
        <div class="panel panel-info" style="height: 40%; min-height: 40%; margin-bottom: 1%; position: relative; display: flex; flex-direction: column;">
            <div class="panel-heading">全市工地信息汇总</div>
            <div class="panel-body" style="bottom: 0; overflow-y: auto;">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <td><span class="text">区县名称</span></td>
                            <td><span class="text">工程总计</span></td>
                            <td><span class="text">已安装工程</span></td>
                            <td><span class="text">安装率</span></td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var districtInfo in Model.DistrictInfos)
                            {
                                <tr>
                                    <td>@districtInfo.DistrictName</td>
                                    <td>@districtInfo.ProjectsCount</td>
                                    <td>@districtInfo.ProjectsInstalled</td>
                                    <td>@districtInfo.InstallPercentage</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-info" style="height: 29%; min-height: 29%; margin-bottom: 1%; position: relative; display: flex; flex-direction: column;">
            <div class="panel-heading">厂家信息汇总</div>
            <div class="panel-body" style="bottom: 0; overflow-y: auto;">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <td>厂商名称</td>
                            <td>设备总数</td>
                            <td>在线数</td>
                            <td>离线数</td>
                            <td>在线率</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var enterprise in Model.Enterpriseses)
                            {
                                <tr>
                                    <td>@enterprise.EnterpriseName</td>
                                    <td>@enterprise.DevicesCount</td>
                                    <td>@enterprise.OnlineCount</td>
                                    <td>@enterprise.OfflineCount</td>
                                    <td>@enterprise.OnlinePercentage</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-info" style="height: 29%; min-height: 29%; position: relative; display: flex; flex-direction: column;">
            <div class="panel-heading">接入厂家信息</div>
            <div class="panel-body" style="bottom: 0; overflow-y: auto;">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <td>厂商名称</td>
                            <td>负责人</td>
                            <td>联系电话</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var vendor in Model.VendorInfos)
                            {
                                <tr>
                                    <td>@vendor.VendroName</td>
                                    <td>@vendor.Susperintend</td>
                                    <td>@vendor.Mobile</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-8" style="height: 100%">
        <div class="panel panel-info" style="height: 48.5%; min-height: 48.5%; margin-bottom: 1%;">
            <div class="panel-heading">全市扬尘指标排名</div>
            <div class="panel-body">
                <div id="districtTopten"></div>
            </div>
        </div>
        <div class="panel panel-info" style="height: 48.5%; min-height: 48.5%;">
            <div class="panel-heading">全市工程粉尘浓度排名TOP10</div>
            <div class="panel-body">
                <div id="projectTopten"></div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var districtTopTen = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.DistrictRanks))');
        var prjTopTen = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.ProjectRanks))');
    </script>
    <script src="~/Scripts/Utility/chartsOption.js"></script>
    <script src="~/Scripts/Page/index.js"></script>
}
